name: PHP CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Cache Composer dependencies
      uses: actions/cache@v3
      with:
        path: /tmp/composer-cache
        key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

    - name: Install dependencies
      uses: php-actions/composer@v6
      with:
        dev: yes
        args: --profile --ignore-platform-reqs
        php_version: 8.3
        version: 2

    - name: PHPUnit Tests - 8.3
      uses: php-actions/phpunit@v3
      with:
        bootstrap: vendor/autoload.php
        configuration: phpunit.xml
        php_version: 8.3
        version: 12

    - name: PHPUnit Tests - 8.4
      uses: php-actions/phpunit@v3
      with:
        bootstrap: vendor/autoload.php
        configuration: phpunit.xml
        php_version: 8.4
        version: 12

    - name: PHPUnit Tests - 8.5
      uses: php-actions/phpunit@v3
      with:
        bootstrap: vendor/autoload.php
        configuration: phpunit.xml
        php_version: 8.5
        version: 12

    - name: Psalm Static Analysis
      uses: docker://ghcr.io/psalm/psalm-github-actions
